<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akon.spring.provider.repository.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.akon.spring.provider.domain.model.UserInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_score" jdbcType="BIGINT" property="userScore" />
    <result column="user_salary" jdbcType="DECIMAL" property="userSalary" />
    <result column="user_sex" jdbcType="CHAR" property="userSex" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_age, user_score, user_salary, user_sex, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.akon.spring.provider.domain.model.UserInfo">
    insert into user_info ( user_name, user_age,
      user_score, user_salary, user_sex, 
      create_time, update_time)
    values (#{userName,jdbcType=VARCHAR}, #{userAge,jdbcType=INTEGER},
      #{userScore,jdbcType=BIGINT}, #{userSalary,jdbcType=DOUBLE}, #{userSex,jdbcType=CHAR}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.akon.spring.provider.domain.model.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userAge != null">
        user_age,
      </if>
      <if test="userScore != null">
        user_score,
      </if>
      <if test="userSalary != null">
        user_salary,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null">
        #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userScore != null">
        #{userScore,jdbcType=BIGINT},
      </if>
      <if test="userSalary != null">
        #{userSalary,jdbcType=DOUBLE},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.akon.spring.provider.domain.model.UserInfo">
    update user_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null">
        user_age = #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userScore != null">
        user_score = #{userScore,jdbcType=BIGINT},
      </if>
      <if test="userSalary != null">
        user_salary = #{userSalary,jdbcType=DOUBLE},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.akon.spring.provider.domain.model.UserInfo">
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      user_age = #{userAge,jdbcType=INTEGER},
      user_score = #{userScore,jdbcType=BIGINT},
      user_salary = #{userSalary,jdbcType=DOUBLE},
      user_sex = #{userSex,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="getAllUserInfo" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from user_info
  </select>
</mapper>